PLT_SERVER_HOSTNAME=127.0.0.1
PORT=3042
PLT_SERVER_LOGGER_LEVEL=info
DATABASE_URL=sqlite://./db.sqlite
MAIL_USER=yourmailaddress@domain.com
MAIL_PASS=emailpassword
MAIL_SERVICE=SMTP_email_service
TUTOR_MAIL=sampleuser@tutoree.com
PLT_ACCESS_TOKEN=0c3d6441e9512656b5b73c779c9856ae0e759dd9644c0791df3c614ce56d1c213a86fc2c9f1e9114c73c6de9165d27e77c72715c2526b73eb2074d6d7d84af69
=<hex_token>