<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        html {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
</head>

<body>
    <div class="container">
        <center>
            <h3>
                Welcome to Tutoree
            </h3>
            <h5>
                Where student meets the right teacher!
            </h5>
            <p>
                Your OTP for {{email}} registration is
            <p>
                <b style="font-size: 24px;">{{otp}}</b>
            </p>
            </p>
            <br>
            <footer>
                <p style="font-size: small;">
                    If this OTP is already validated, please ignore this mail.
                </p>
            </footer>
        </center>
    </div>
</body>

</html>