<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <div class="container">
        <center>
            <h3>
                Tutoree
            </h3>
            <h5>
                Where student meets the right teacher!
            </h5>
            <p>
                You have received a request from <b>{{student_name}}</b> with interests in
            </p>
            <p>
                <b>{{interests}}</b>
            </p>
            <p>
                Mail the student by clicking the below mail address
            <p><a href="mailto:">{{student_mail}}</a></p>
            </p>
            <br>
            <p>From Tutoree team with love</p>
        </center>
    </div>
</body>

</html>